@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("full_screen_loader.css");

:root {
  --bg-linear-gradient: linear-gradient(to bottom, #4f8f9f, 20%, #d9e4e6);
  --wave1-color: #6a95ab;
  --wave2-color: rgb(15, 166, 243, 0.51);
  --main-font-family: 'Roboto', sans-serif;
  --font-color-primary: black;
  --font-color-secondary: rgb(15, 166, 243);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  background-image: var(--bg-linear-gradient);
  font-family: var(--main-font-family);
}

/** scrollbar styles **/
::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--font-color-secondary); 
  border-radius: 20px;

}

::-webkit-scrollbar-thumb:hover{
  background: #888;
}


/** styles for buttons **/
.btn{
    background-color: transparent;
    border: solid white 1px;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background-color: white;
    color: black;
}

/** styles for background **/
.main-container,
.wave1,
.wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-container{
    z-index: 10;
    overflow: auto;
}

.wave1, .wave2{
  background-image: url("../images/background/wave_w.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 1000px 120px;
}

.wave1{
    animation: wave1 15s linear infinite;
    opacity: 0.51;
}

.wave2{
  animation: wave2 10s linear infinite;
}

@keyframes wave2{
    from{ background-position-x: 0;}
    to{ background-position-x: -1000px;}
}
@keyframes wave1{
    from{ background-position-x: 0;}
    to{ background-position-x: 1000px;}
}


/** styles for header **/
.main-container header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    position: absolute;
    left: 0;
    top: 0;
}

.main-container header .buttons{
    display: flex;
    gap: 1rem;
}

.main-container header .logo{
    height: 70px;
    width: 50px;
}

.main-container header .logo img{
    width: 100%;
    height: 100%;
}

/*** General Form Styles ***/
form .error-field, form .success-field{
  text-align: center;
  font-size: 0.8rem;
  display: none;
}

form .success-field{
  color: darkgreen;
}

form .error-field{
  color: darkred;
}

form .field-shake{
  animation: form-input-shake 0.1s both alternate 4;
}

@keyframes form-input-shake{
  0%{
    transform: translate(0px);
  }
  25%{
    transform: translate(4px);
  }
  50%{
    transform: translate(0px);
  }
  75%{
    transform: translate(-4px);
  }
  100%{
    transform: translate(0px);
  }
  
}

